
body {
  background-image: url(../assets/./img/abstraction-watercolor-dark.jpg);
  background-position: center;  
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 1em;
}


.container {
  display: block;
  width: 60%;
  height: 30%;
  color: white;
}

.container:hover {
  color: rgb(237,95,55);
}


@media screen and (max-width: 600px) {
  body {
    font-size: .8em;
  }
  .container {
    color: rgb(237,95,55);
  }
} 

.mainName {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 6em;
}

.profession{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin-top: 2em;
}

a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 
  margin-top: 3em;
}

a:hover {
  transform: scale(1.5,1.5); 
  -o-transition: all .8s linear;
  transition: all .8s linear;  
  color: rgb(237,95,55);

}