body {
  content: url(../img/acuarelas.jpeg);
  font-size: 25px;
}

@media screen and (max-width:600px) {
  body {
    font-size: 10px;
  }
}

.container {
  max-width: 100%;
  height: 100%;
}

#accordionExample {
  color:white;
}

.accordion-button {
  flex-direction: column;
  align-items: center;

  margin-top: 1em;
  height: 2em;
  color: white;
  text-align: center;
  font-size: 20px;

}

.accordion-body {
  padding: 2em;
}

.accordion-button {
  border-color: transparent;
}

p {
  flex-direction: column;
  align-items: center;
}

.accordion-button:not(.collapsed) {
 /* color:black; */
 background-color: transparent;
}

.accordion-button:focus {
  border-color: transparent;
  box-shadow: transparent;
}

.accordion-button::after {
  width: 0em;
}

.accordion-collapse {
  border: none;
}

#collapseOne {
  text-align: center;
}

#collapseTwo {
  text-align: center;
}
#collapseThree {
  text-align: center;
}
#collapseFour {
  text-align: center;
}

#collapseFive {
  text-align: center;
}

.accordion-body {
  border-color: transparent;
}